<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CLIENTES</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
</head>
<body>
	<ul>
		{% for pe in pessoas %}
			<li>
				{{ pe.nome }}
				{{ pe.apelido }}
			</li>
    	{% endfor %}
	</ul>	 
                
            <form action="{% url 'clientes' %}" method="POST">              
                         {% csrf_token %}
                         {{ form }}
                    
                <button class="btn btn-primary" type="submit" > Salvar </button>                
            </form>  
</body>
</html>